/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body{
    background-color: #fffaeb;
}

div.newsletter-container, div.gallery-container, div.mainstory-container, div.home-container {
    max-width:40em;
    margin: auto;
}

h1{ 
    width: 20em;
    margin: 1em 0.5em;
}

h2, form p{
    font-family: plantin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0e5a3f;
}

h2{
    margin-top: 0.25em;
}

a {
    color: #000000;
    text-decoration: none;
}

nav.menu ul{
    margin: 0 0 1em 0.5em;
}

nav.menu ul li, button{
    font-family: area-normal, sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav.menu ul li{
    margin: 0.2em 0.5em 0.5em 0;
}

nav.menu ul, div.newsletter-container form ul{
    list-style-type: none;
}

nav.menu ul li a{
    color: #A8250B;
}

nav.menu ul li a:hover{
    color: #6b1301;
}

section {
    padding-bottom: 1em;
}

img {
    width: 100%;
    display: block;
}

p, figcaption, form label, form input{ 
    font-family: area-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    color: #1b0c07;
}

p{
    margin: 0.1em 0.5em 1em;
}

i{
    font-style: italic;
}

figcaption {
    font-style: italic;
    margin: 0.5em 0.5em 1.5em;
}

footer{
    background-color: #A8250B;
    height: 2rem;
    padding: 1em 0 0 0.5em;
}

footer p{
    margin: 0;
    color: #FFFFFF;
}

section.mainstory h2, article h2, div.gallery-container h2, div.newsletter-container h2{
    font-size: 2em;
    line-height: 1.1em;
}

section.mainstory h2, article h2{
    margin: 0.3em 0 0 0.15em;
}

div.gallery-container h2, div.newsletter-container h2 {
    margin: 0.5em 0 0.5em 0.15em;
}

section.secondarystory h2 {
    font-size: 1.6em;
    line-height: 1.1em;
    margin: 0.4em 0 0 0.25em;
}   

section.tertiarystory{
    margin: 0 0.5em;
    border-top: 2px #A8250B solid;
}

section.tertiarystory h2, aside h2{
    font-size: 1.3em;
    line-height: 1.2em;
    margin-top: 0.5em;
}

section.tertiarystory p, aside p{
    margin-left: 0;
}

div.mainstory-container aside{
    background-color: #0e5a3f;
    padding: 0.5em;
    border-radius: 5px;
}

div.mainstory-container aside h2, div.mainstory-container aside p{
    color: #FFFFFF;
}

main.gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(157% + 4em); 
}

main.gallery figure{
    margin: 0;
    width: 100%;
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: opacity 1s;
}

input:nth-of-type(1):checked ~ main.gallery figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main.gallery figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main.gallery figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main.gallery figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main.gallery figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main.gallery figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main.gallery figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main.gallery figure:nth-of-type(8),
input:nth-of-type(9):checked ~ main.gallery figure:nth-of-type(9),
input:nth-of-type(10):checked ~ main.gallery figure:nth-of-type(10){
    left: 0;
    opacity: 1;
}

nav.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

label img{
    height: 90%;
}

div.gallery-container input{
    display: none;
}

form{
    margin-left: 0.5em;
}

form p{
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0.5em 0 0.2em 0;
}

section.personal-info ul, section.newsletter-frequency ul{
    display: flex;
    flex-wrap: wrap;
}

section.personal-info ul li{
	display: flex;
	flex-wrap: wrap;
    margin: 0 2em 0.5em 0;
}

section.personal-info ul li label{
    width: 3.5em;
}

section.newsletter-frequency ul li{
    margin-right: 0.5em;
}

section.sub-button{
    margin: 1em 0;
}

form input[type="checkbox"], form input[type="radio"]{
    accent-color:#A8250B;
}

button{
    background-color:#0e5a3f;
    font-size: 1.1em;
    padding: 0.5em;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: #073424;
}

@media only screen and (min-width: 60em){
    nav.menu ul li {
        display: inline-block;
    }

    h1, nav.menu ul, p, section.mainstory h2, article h2, section.secondarystory h2, div.gallery-container h2, div.newsletter-container h2, figcaption, form{
        margin-left: 0;
    }

    section.tertiarystory{
        margin: 0;
    }

    div.gallery-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
    }

    div.gallery-container header, div.gallery-container h2, div.gallery-container footer{
        grid-column: 1/3;
    }

    div.gallery-container h2{
        margin: 0;
    }

    main.gallery{
        grid-row: 4/6;
    }

    nav.gallery{
        grid-row: 4/5;
    }

    div.gallery-container footer{
        grid-row: 6/7;
    }
    
    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.mainstory-container{
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.mainstory-container, div.gallery-container, div.newsletter-container{
        max-width: 60em;
    }

    header, footer{
        grid-column: 1/3;
    }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a fig{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a fig img{
        object-fit: cover;
    }

    section.mainstory a h2{
        flex: 0 0 1em;
    }

    section.mainstory a p{
        flex: 0 0 4em;
    }

    section.secondarystory{
        display: flex;
    }

    section.secondarystory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a fig{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a fig img{
        object-fit: cover;
    }

    section.secondarystory a h2{
        flex: 0 0 1em;
    }

    section.secondarystory a p{
        flex: 0 0 4em;
    }
}
