/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body{
    background-color: #f7eaa8;
}

div.container, div.home-container {
    max-width:40em;
    margin: auto;
}

h1{ 
    width: 20em;
    margin: 1em 0.5em;
}

h2{
    font-family: area-normal, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0.25em;
    color: #0e5a3f;
}

a {
    color: #000000;
    text-decoration: none;
}

nav ul{
    margin: 0 0 1em 0.5em;
}

nav ul li{
    list-style-type: none;
    margin: 0.2em 0.5em 0.2em 0;
    font-family: area-normal, sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul li a{
    color: #A8250B;
}

/*used padding instead of margin for the aside blue background in mainstory*/
section {
    padding-bottom: 1em;
}

img {
    width: 100%;
    display: block;
}

p { 
    margin: 0.1em 0.5em 1em;
    line-height: 1.2em;
    font-family: plantin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: #1b0c07;
}

footer{
    background-color: #A8250B;
    height: 2rem;
    padding: 1em 0 0 0.5em;
}

footer p{
    margin: 0;
    color: #FFFFFF;
}

section.mainstory h2, article h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin-top: 0.3em;
    margin: 0.3em 0 0 0.15em;
}

section.secondarystory h2 {
    font-size: 1.6em;
    line-height: 1.2em;
    margin: 0.4em 0 0 0.25em;
}   

section.tertiarystory{
    margin: 0 0.5em;
    border-top: 2px #A8250B solid;
}

section.tertiarystory h2, aside h2{
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 0.5em;
}

section.tertiarystory p, aside p{
    margin-left: 0;
}

div.container aside h2, div.container aside p{
    color: #FFFFFF;
}

figcaption {
    font-family: plantin, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.1em;
    margin: 0.5em 0.5em 1.5em;
    color: #1b0c07;
}

div.container aside{
    background-color: #0e5a3f;
    padding: 0.5em;
}

span.italic{
    font-style: italic;
}

/* change nav menu and get rid of extra whitespace for wider screens */
@media screen and (min-width: 35em) {
    nav ul li {
        display: inline-block;
    }

    h1, nav ul, p, section.mainstory h2, article h2, section.secondarystory h2, figcaption{
        margin-left: 0;
    }

    section.tertiarystory{
        margin: 0;
    }
}

@media only screen and (min-width: 60em){
    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer{
        grid-column: 1/3;
    }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a fig{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a fig img{
        object-fit: cover;
    }

    section.mainstory a h2{
        flex: 0 0 1em;
    }

    section.mainstory a p{
        flex: 0 0 4em;
    }

    section.secondarystory{
        display: flex;
    }

    section.secondarystory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a fig{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a fig img{
        object-fit: cover;
    }

    section.secondarystory a h2{
        flex: 0 0 1em;
    }

    section.secondarystory a p{
        flex: 0 0 4em;
    }
}
